.event {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    position: relative;
    
  }

  .event-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    margin-bottom: 1rem;
 
    font-weight: bold;
  }

  .bi-check-circle-fill {
    color: rgb(31, 177, 48);
  }

  .bi-circle {
    color: rgb(236, 82, 82);
  }

 .bi-pencil-square {
    color: rgb(31, 177, 48);
  }
  .bi-trash {
    color: rgb(236, 82, 82);
    margin: 0;
  }

  .event-details {
    display: flex;
    flex-direction: column;
 align-items: flex-start;

}
.event-details p {
  margin: 0.3rem auto 0.5rem 1.5rem;
  font-size: 1.1rem;
 
}
.event-details .label {
  
    font-size: 14px;
    font-weight: 600;
    color: #888;
    margin-left: 0.5rem;
    
    display: block;
  }


.event-header span i {
  
  margin: 0.5rem;
  font-size: 1rem; 
}