@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(175, 66, 219);
  --bg-light: rgb(243, 243, 243);
  --bg-dark: rgb(34, 34, 34);
  --div-bg-light: rgb(245, 245, 245);
  --div-bg-dark: rgb(48, 46, 46);
  --text-color-light: rgb(0, 0, 0);
  --text-color-dark: rgb(255, 255, 255);
}


body {
    font-family: 'Ubuntu', monospace;
    padding: 0;
    margin: 0;
    place-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  body {
    background:  var(--bg-light);
    color: var(--text-color-light);
  }

 body.dark-mode {
  background: var(--bg-dark);
  color: var(--text-color-dark);

  }

  main {
    padding: 1rem;
    background: transparent;

    margin: auto;
  }

  .toggle-calender {
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    background-color: #d1d1d1;
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .toggle-calender:hover {
    background-color: var(--primary-color);
  }

  .hide-calender {
    display: none;
  }

  .header h1 {
    font-size: 1.5em;
  }
  h2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
  }

  h2 button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    
    
    color: #fff;
    cursor: pointer;
  }



  .schedule {
    padding: 0.3rem;
  }

  

  .add-event {
    background-color: rgb(186, 142, 201);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: larger;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  }

  .add-event:hover {
    width: 55px;
    height: 55px;
  }